* {
  box-sizing: border-box;
  text-align: center;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

#content {
  width: 500px;
  height: 500px;
  position: absolute;
  right: 300px;

}

#sidebar {
  width: 520px;
  height:auto;
  float:left;
  overflow: scroll;
}
