body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P&subset=greek,latin);
#logo{
  font-family: 'Press Start 2P', cursive;
  font-size: 45px;
}
#attribute{
  font-family: 'Press Start 2P', cursive;
  font-size: 45px;
  color: yellow;
}
#value{
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  color: yellow;
}

body{
  background-color: orange;
}
body, div, h1{
  margin: 0;
  padding: 0;
}
h1{
  position: absolute;

  width: 720px;
  left: 20%;
  margin-left: -360px;

  height: 45px;
  top: 40%;
  margin-top: -22.5px;

  cursor: pointer;
}
